@import '_basics.scss';
@import '_variables.scss';
$Red: #DE7F43;
$Orange: #E6B860;
$Peach: #FDCE4E;
.loginGrid {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;

}

.loginInfo {
  grid-row-start: 2;
  grid-column-start: 2;

  & > input {
    width: 80vw;
    opacity: 50%;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
  }

   & > label {
     font-weight: bold;
     font-size: 14px;

     & > a {
       color: #000000;
     }
   }
}

.loginbtn {
  grid-row-start: 3;
  grid-column-start: 2;

  & > .ctaButton {
    width: 50vw;
    height: 10vw;
    background: linear-gradient(90deg, $Red 0%, $Orange 75%, $Peach 100%);
    color: #FFFFFF;
    border-radius: 30vw;
    border-style: none;
    font-weight: bold;
  }

  & > label {
    font-weight: bold;
    font-size: 14px;

    & > a {
      color: #000000;
    }
  }
}
