$Red: #DE7F43;
$Orange: #E6B860;
$Peach: #FDCE4E;
@import "_reset.scss";

.ctaButton {
  width: 150px;
  height: 8vw;
  background: linear-gradient(90deg, $Red 0%, $Orange 75%, $Peach 100%);
  color: #FFFFFF;
  border-radius: 30vw;
  border-style: none;
  font-weight: bold;
}

.footerBar {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  width: 100vw;
  padding: 10px;
  background-color: #D6D6D6;
  margin-bottom: 10vh;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  z-index: 5;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100vw;
  height: 10vh;

  & > div {
    margin: auto;
    display: block;
    width: 30px;
    height: 30px;

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  & > .shortcutItem {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.activeMenu {
  // To create the filter i used the below link
  // https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(56%) sepia(62%) saturate(519%) hue-rotate(338deg) brightness(91%) contrast(91%);
}
