$Red: #DE5543;
$Orange: #E68E60;
$Peach: #FFC4BC;

@import "_reset.scss";


.ctaButton {
  width: 100vw;
  height: 8vw;
  background: linear-gradient(90deg, $Red 0%, $Orange 75%, $Peach 100%);
  color: #FFFFFF;
  border-radius: 30vw;
  border-style: none;
}

.footerBar {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  width: 100vw;
  padding: 10px;
  background-color: #D6D6D6;
}
