@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

.ctaButton {
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, #DE7F43 0%, #E6B860 75%, #FDCE4E 100%);
  color: #FFFFFF;
  border-radius: 30vw;
  border-style: none;
  font-weight: bold; }

.footerBar {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  width: 100vw;
  padding: 10px;
  background-color: #D6D6D6;
  margin-bottom: 10vh; }

.bottomBar {
  z-index: 6;
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  z-index: 5;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100vw;
  height: 10vh; }
  .bottomBar a {
    display: block;
    width: 100%;
    height: 100%; }
  .bottomBar > div {
    margin: auto;
    display: block;
    width: 30px;
    height: 30px; }
    .bottomBar > div > img {
      height: 100%;
      width: 100%; }
  .bottomBar > .shortcutItem {
    display: block;
    width: 30px;
    height: 30px; }
    .bottomBar > .shortcutItem > .line {
      position: relative;
      width: 30px;
      height: 4px;
      background-color: black; }
    .bottomBar > .shortcutItem > .one {
      margin-top: 2px; }
    .bottomBar > .shortcutItem > .two {
      margin-top: 7px; }
    .bottomBar > .shortcutItem > .three {
      margin-top: 7px; }

.activeMenu {
  filter: invert(56%) sepia(62%) saturate(519%) hue-rotate(338deg) brightness(91%) contrast(91%); }

#grey_overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  filter: opacity(0%);
  pointer-events: none;
  transition: 0.5s; }

.filterActive {
  filter: opacity(20%) !important; }

#sideMenu {
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5vw 0vw 0vw 5vw;
  width: 80vw;
  height: 90vh;
  background-color: #FFF;
  transition: 0.5s;
  transform: translateX(100%);
  pointer-events: all; }

.navActive {
  transform: translateX(0%) !important; }

.burgerMenu_container {
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none; }

.content_container {
  display: grid;
  grid-template-areas: "profile", "line", "options", "line", "settings";
  width: 75%;
  height: 75%;
  margin: 25% auto; }

.profile {
  grid-area: "profile";
  display: flex;
  flex-direction: row; }
  .profile > img {
    width: 50px;
    height: 50px; }
  .profile > .profile_info {
    display: flex;
    flex-direction: column; }
    .profile > .profile_info > h4 {
      margin: 2px 15px 2px 15px; }
    .profile > .profile_info > p {
      margin: 2px 15px; }

.options {
  grid-area: "options"; }
  .options > .menuPoint {
    display: flex;
    flex-direction: row;
    margin: 15px auto; }
    .options > .menuPoint > img {
      width: 1.4em;
      height: 1.4em; }
    .options > .menuPoint > h3 {
      margin: auto auto auto 15px; }

.settings {
  grid-area: "settings";
  display: flex;
  flex-direction: column; }
  .settings > p {
    margin: 5px 0px; }

.line {
  grid-area: "line";
  height: 5px;
  background-color: #f2f2f2; }

.profileGrid {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center; }

.profileHeadline {
  grid-column-start: 2;
  grid-row-start: 1; }

.avatar-upload {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  max-width: 205px;
  margin: 50px auto; }
  .avatar-upload > .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px; }
    .avatar-upload > .avatar-edit > input {
      display: none; }
    .avatar-upload > .avatar-edit > label {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #FFFFFF;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      font-weight: normal;
      transition: all .2s ease-in-out; }
      .avatar-upload > .avatar-edit > label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6; }
      .avatar-upload > .avatar-edit > label:after {
        content: "\f040";
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto; }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }
    .avatar-upload .avatar-preview > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }

.nameNEducation {
  grid-column: 2;
  grid-row: 3; }
  .nameNEducation > h2 {
    font-weight: bold; }
  .nameNEducation > h3 {
    font-weight: normal; }

.choseInterest {
  grid-column: 2;
  grid-row: 4; }

.choseInterest select {
  display: flex;
  border: none;
  border-bottom: 1px solid #000000;
  width: 80vw;
  opacity: 50%;
  padding: 8px;
  font-size: 14px;
  font-weight: bold; }

.button {
  font-weight: bold; }

button {
  font-size: 40px;
  outline: none;
  padding: 0;
  border: none;
  background: none; }

.interestPlaceholder {
  grid-column: 2;
  grid-row: 5;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  display: flex;
  flex-wrap: wrap; }
  .interestPlaceholder > div {
    border: 1px black solid;
    padding: 10px;
    margin-bottom: 60px; }

/*# sourceMappingURL=profile.css.map */
