@import "master.scss";

.topBar {
  position: sticky;
  top: 0;
  background-color: #FFF;
  z-index: 5;
  display: grid;
  grid-template-columns: 25% auto 25%;
  width: 100vw;
  height: 10vh;

  & > div {
    margin: auto;
  }

  & > .returnButton {
    display: block;
    width: 30px;
    height: 30px;

    & > .returnArrow {
      position: relative;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%) rotate(135deg);
      height: 50%;
      border: solid #000;
      border-width: 0 3px 3px 0;
      padding: 3px;
    }
  }

  & > h1 {
    color: #000;
    margin: auto;
  }
}

.center_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .pulseBall {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: pulse 3s infinite;
    margin-bottom: 100px;

    & > img {
      width: 100%;
      height: 100%;
      // Centers and creates distance from edges
      padding: 10%;
    }
  }

  & > p {
    text-align: center;
    font-size: 20px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    // Yellow pulse
    // box-shadow: 0 0 0 0 rgba(242, 236, 54, 0.7);
    // Red pulse
    box-shadow: 0 0 0 0px rgba(233, 107, 61, 0.7);
  }

  50% {
    transform: scale(1.15);
    box-shadow: 0 0 0 50px rgba(233, 107, 61, 0);
  }

  100% {
    transform: scale(1);
  }
}
