@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

.ctaButton {
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, #DE7F43 0%, #E6B860 75%, #FDCE4E 100%);
  color: #FFFFFF;
  border-radius: 30vw;
  border-style: none;
  font-weight: bold; }

.footerBar {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  width: 100vw;
  padding: 10px;
  background-color: #D6D6D6;
  margin-bottom: 10vh; }

.bottomBar {
  z-index: 6;
  position: fixed;
  bottom: 0;
  background-color: #FFF;
  z-index: 5;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100vw;
  height: 10vh; }
  .bottomBar > div {
    margin: auto;
    display: block;
    width: 30px;
    height: 30px; }
    .bottomBar > div > img {
      height: 100%;
      width: 100%; }
  .bottomBar > .shortcutItem {
    display: block;
    width: 30px;
    height: 30px; }
    .bottomBar > .shortcutItem > .line {
      position: relative;
      width: 30px;
      height: 4px;
      background-color: black; }
    .bottomBar > .shortcutItem > .one {
      margin-top: 2px; }
    .bottomBar > .shortcutItem > .two {
      margin-top: 7px; }
    .bottomBar > .shortcutItem > .three {
      margin-top: 7px; }

.activeMenu {
  filter: invert(56%) sepia(62%) saturate(519%) hue-rotate(338deg) brightness(91%) contrast(91%); }

#grey_overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  filter: opacity(0%);
  pointer-events: none;
  transition: 0.5s; }

.filterActive {
  filter: opacity(20%) !important; }

#sideMenu {
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0vw;
  border-radius: 5vw 0vw 0vw 5vw;
  width: 80vw;
  height: 90vh;
  background-color: #FFF;
  transition: 0.5s;
  transform: translateX(100%);
  pointer-events: all; }

.navActive {
  transform: translateX(0%) !important; }

.burgerMenu_container {
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none; }

.content_container {
  display: grid;
  grid-template-areas: "profile", "line", "options", "line", "settings";
  width: 75%;
  height: 75%;
  margin: 15%; }

.profile {
  grid-area: "profile";
  display: flex;
  flex-direction: row; }
  .profile > img {
    width: 50px;
    height: 50px; }

.options {
  grid-area: "options"; }
  .options > .menuPoint {
    display: flex;
    flex-direction: row;
    margin: 10px auto; }
    .options > .menuPoint > img {
      width: 1.4em;
      height: 1.4em; }
    .options > .menuPoint > h3 {
      margin: auto auto auto 15px; }

.settings {
  grid-area: "settings"; }

.line {
  grid-area: "line";
  height: 5px;
  background-color: #f2f2f2; }

.topBar {
  position: sticky;
  top: 0;
  background-color: #FFF;
  z-index: 5;
  display: grid;
  grid-template-columns: 25% auto 25%;
  width: 100vw;
  height: 10vh; }
  .topBar > div {
    margin: auto; }
  .topBar > .returnButton {
    display: block;
    width: 30px;
    height: 30px; }
    .topBar > .returnButton > .returnArrow {
      position: relative;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%) rotate(135deg);
      height: 50%;
      border: solid #000;
      border-width: 0 3px 3px 0;
      padding: 3px; }
  .topBar > h1 {
    color: #000;
    margin: auto; }

.wof_container {
  position: relative;
  margin: 20% auto auto auto;
  width: 70vw;
  height: 70vw; }

.arrow_container {
  position: absolute;
  z-index: 2;
  width: 10%;
  height: 10%;
  transform: rotate(45deg) translateX(-73%);
  left: 50%; }

.prizeArrow {
  width: 100%;
  height: 100%;
  transform: skew(15deg, 15deg);
  background-color: green; }

.wof {
  position: relative;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  overflow: hidden; }
  .wof > .middle {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    background-color: black; }
  .wof > .sector {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 3px; }
    .wof > .sector > p {
      display: inline-block;
      position: relative;
      font-size: 36px; }
  .wof > .one {
    transform: translate(-50%, -50%);
    background-color: #DE7F43; }
    .wof > .one > p {
      transform: rotate(135deg);
      top: 70%;
      left: 70%; }
  .wof > .two {
    transform: translate(50%, -50%);
    background-color: #FDCE4E; }
    .wof > .two > p {
      transform: rotate(-135deg);
      top: 70%;
      left: 10%; }
  .wof > .three {
    transform: translate(-50%, 50%);
    background-color: blue; }
    .wof > .three > p {
      transform: rotate(45deg);
      top: 10%;
      left: 70%; }
  .wof > .four {
    transform: translate(50%, 50%);
    background-color: #DE7F43; }
    .wof > .four > p {
      transform: rotate(-45deg);
      top: 10%;
      left: 10%; }

.ctaButton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20%; }
