@import "master.scss";

.topBar {
  position: sticky;
  top: 0;
  background-color: #FFF;
  z-index: 5;
  display: grid;
  grid-template-columns: 25% auto 25%;
  width: 100vw;
  height: 10vh;

  & > div {
    margin: auto;
  }

  & > .returnButton {
    display: block;
    width: 30px;
    height: 30px;

    & > .returnArrow {
      position: relative;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%) rotate(135deg);
      height: 50%;
      border: solid #000;
      border-width: 0 3px 3px 0;
      padding: 3px;
    }
  }

  & > h1 {
    color: #000;
    margin: auto;
  }

  & > .editEvent {
    display: block;
    width: 30px;
    height: 30px;

    & > .lineVertical {
      position: relative;
      transform: translateY(-50%);
      width: 100%;
      height: 3px;
      background-color: #000;
    }

    & > .lineHorizontal {
      position: relative;
      top: -3px;
      transform: translateX(-50%);
      width: 3px;
      height: 100%;
      background: #000;
    }
  }
}

.eventContainer {
  min-height: 90vh;
  margin-bottom: 15vh;
}

#eventPicture {
  display: block;
  height: 30vh;
  margin: 10px;
  border-radius: 20px;
  background-size: cover;
}

.eventDetailBox {
  position: relative;
  // left: 50%;
  // transform: translateX(-50%);
  margin: 50px auto auto auto;
  width: 80vw;
}

#eventTime {
  margin: 5px 0 10% 0;
}

.eventParticipation {
  position: relative;
  display: grid;
  grid-template-areas:
  'parnum parnum parnum parnum parnum'
  'pictures show . . cta';
  grid-column-gap: 5px;
  grid-row-gap: 10px;

}

.participantNumber {
  grid-area: parnum;

}

.participantPictures {
  grid-area: pictures;
  display: flex;
  margin: auto auto auto 0;

  & > img {
    max-width: 36px;
    max-height: 36px;
  }
}

.profileMini {
  margin-left: -10px;
}

.showMore {
  grid-area: show;
  margin: auto 0;
}

#joinBtn {
  width: 75px;
  grid-area: cta;
  margin: auto;
}

#borderline {
  position: relative;
  margin: 20px 0 20px 0;
  border: solid #F2F2F2;
  border-width: 0 0 3px 0;
  padding: 2px;
}

#eventDetailText {
  margin: 10px 0 0 0;
}
