@import '_basics.scss';
@import '_variables.scss';

.signUpGrid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.form {
  grid-row-start: 2;
  grid-column-start: 2;

  & > input {
    display: flex;
    border: none;
    border-bottom: 1px solid #000000;
    width: 80vw;
    opacity: 50%;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
  }

  & > select {
    display: flex;
    border: none;
    border-bottom: 1px solid #000000;
    width: 80vw;
    opacity: 50%;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
  }

  & > label {
  font-weight: bold;
  font-size: 14px;

   & > a {
     color: #000000;
   }
  }
}

.ctaButton {
  width: 50vw;
  height: 10vw;
  background: linear-gradient(90deg, $gradientRed 0%, $gradientOrange 75%, $gradientPeach 100%);
  color: #FFFFFF;
  border-radius: 30vw;
  border-style: none;
  font-weight: bold;
}
